.navbar {
  height: 100px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
}

.navbar a {
  color: #ffffff90;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar a:hover {
  color: #fff;
  transition: color 0.5s ease-in-out;
}
